[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/robertseaton/.emacs.d
[submodule "src/contrib/siji"]
	path = src/contrib/siji
	url = https://github.com/stark/siji
[submodule "src/contrib/polybar"]
	path = src/contrib/polybar
	url = https://github.com/robertseaton/polybar
[submodule "src/contrib/st"]
	path = src/contrib/st
	url = git@github.com:robertseaton/st.git
[submodule "src/surf"]
	path = src/surf
	url = http://git.suckless.org/surf
[submodule "src/contrib/surf"]
	path = src/contrib/surf
	url = git@github.com:robertseaton/surf.git
